<a href="https://colab.research.google.com/github/lenocahya/heart-disease-bk/blob/main/heart_disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 1. Mengumpulkan Data

Dataset yang digunakan merupakan dataset yang berasal dari dataset heart disease dari https://archive.ics.uci.edu/dataset/45/heart+disease. Terdapat beberapa dataset, namun pada penelitian ini digunakan dataset hungarian.data

# 2. Menelaah Data

In [ ]:
import pandas as pd
import re
import numpy as np
import itertools

In [ ]:
dataset = "/content/drive/MyDrive/heart-disease/heart+disease/hungarian.data"

In [ ]:
with open(dataset, encoding='Latin1') as file:
  lines = [line.strip() for line in file]

In [ ]:
lines

['1254 0 40 1 1 0 0',
 '-9 2 140 0 289 -9 -9 -9',
 '0 -9 -9 0 12 16 84 0',
 '0 0 0 0 150 18 -9 7',
 '172 86 200 110 140 86 0 0',
 '0 -9 26 20 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 12',
 '20 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1255 0 49 0 1 0 0',
 '-9 3 160 1 180 -9 -9 -9',
 '0 -9 -9 0 11 16 84 0',
 '0 0 0 0 -9 10 9 7',
 '156 100 220 106 160 90 0 0',
 '1 2 14 13 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 11',
 '20 84 1 -9 -9 2 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1256 0 37 1 1 0 0',
 '-9 2 130 0 283 -9 -9 -9',
 '0 -9 -9 1 11 21 84 0',
 '0 0 0 0 100 10 -9 5',
 '98 58 180 100 130 80 0 0',
 '0 -9 17 14 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 11',
 '26 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1257 0 48 0 1 1 1',
 '-9 4 138 0 214 -9 -9 -9',
 '0 -9 -9 0 9 21 84 0',
 '0 0 0 0 50 5 4 4',
 '108 54 210 106 138 86 1 0',
 '1.5 2 19 22 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 9',
 '30 84 3 -9 2 -9 -9 2',
 '-9 -9 -9 2 -9 1 1 1',
 '1 1 -9. -9. name',
 '1258 0 54 1 1 0 1',
 '-9 3 150 0 -9 -9 -9 -9',
 '0 -9 -9 0 7 25 84 0',
 '0 1 1 0 25 2 -9 3',
 '122 74 130 100 150 90 0 1',
 '0 -9 13 9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 7',
 '30 84 0 -9 -9 -9 -9 1',
 '-9 -9 -9 1 -9 1 1 1',
 '1 1 -9. -9. name',
 '1259 0 39 1 1 0 1',
 '-9 3 120 0 339 -9 -9 -9',
 '0 -9 -9 0 4 18 84 0',
 '0 0 0 0 175 19 -9 8',
 '170 86 198 100 120 80 0 0',
 '0 -9 20 21 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 4',
 '22 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1260 0 45 0 0 1 0',
 '-9 2 130 0 237 -9 -9 -9',
 '0 -9 -9 0 11 3 84 0',
 '0 0 0 0 100 10 -9 10',
 '170 90 200 106 130 84 0 0',
 '0 -9 11 11 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 12',
 '4 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1261 0 54 1 1 0 0',
 '-9 2 110 0 208 -9 -9 -9',
 '0 -9 -9 0 8 31 84 0',
 '0 0 0 0 175 19 -9 7',
 '142 56 220 70 110 70 0 0',
 '0 -9 11 11 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 9',
 '6 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1262 0 37 1 1 1 1',
 '-9 4 140 1 207 -9 -9 -9',
 '0 -9 -9 0 11 12 85 0',
 '0 0 0 0 125 15 13.5 7',
 '130 63 190 100 140 80 1 0',
 '1.5 2 18 19 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 11',
 '15 85 1 -9 2 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1263 0 48 0 1 0 0',
 '-9 2 120 0 284 -9 -9 -9',
 '0 -9 -9 0 10 11 85 0',
 '0 0 0 0 75 7 -9 4',
 '120 72 140 80 120 80 0 0',
 '0 -9 6 6 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 10',
 '15 85 0 -9 -9 -9 -9 1',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1264 0 37 0 1 0 1',
 '-9 3 130 0 211 -9 -9 -9',
 '0 -9 -9 0 4 1 87 0',
 '0 0 0 0 100 10 -9 7',
 '142 57 180 100 130 80 0 0',
 '0 -9 16 18 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 4',
 '8 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1265 0 58 1 1 0 0',
 '-9 2 136 1 164 -9 -9 -9',
 '0 -9 -9 1 4 16 87 0',
 '0 1 0 0 50 4 3.5 4',
 '99 70 160 100 136 80 1 0',
 '2 2 17 17 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 4',
 '20 87 3 -9 2 -9 -9 2',
 '-9 -9 -9 -9 2 1 1 1',
 '7 1 -9. -9. name',
 '1266 0 39 1 1 0 0',
 '-9 2 120 1 204 -9 -9 -9',
 '0 -9 -9 0 4 16 87 0',
 '0 0 0 0 100 10 -9 5',
 '145 100 160 100 120 80 0 0',
 '0 -9 6 9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 4',
 '20 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1267 0 49 1 1 1 1',
 '-9 4 140 0 234 -9 -9 -9',
 '0 -9 -9 0 11 30 83 0',
 '0 0 0 0 125 13 12 7',
 '140 72 192 98 140 90 1 0',
 '1 2 14 12 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 12',
 '4 83 3 -9 -9 2 -9 -9',
 '2 -9 -9 2 -9 1 1 1',
 '1 1 -9. -9. name',
 '1268 0 42 0 1 0 1',
 '-9 3 115 0 211 -9 -9 -9',
 '0 -9 -9 1 5 8 87 0',
 '1 1 1 0 75 9 -9 6',
 '137 54 155 90 115 70 0 0',
 '0 -9 15 16 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '9 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1269 0 54 0 1 1 0',
 '-9 2 120 0 273 0 -9 -9',
 '0 -9 -9 0 5 5 83 0',
 '0 0 0 0 75 7 6 6',
 '150 73 190 110 120 80 0 0',
 '1.5 2 22 20 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '6 83 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1270 0 38 1 1 1 1',
 '-9 4 110 0 196 -9 -9 -9',
 '0 -9 -9 0 5 9 83 0',
 '0 0 0 0 150 18 -9 9',
 '166 86 190 80 110 80 0 0',
 '0 -9 17 13 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '10 83 1 -9 -9 -9 -9 2',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1271 0 43 0 1 0 0',
 '-9 2 120 0 201 0 -9 -9',
 '0 -9 -9 0 2 20 85 0',
 '0 0 0 0 75 9 -9 5',
 '165 84 200 80 120 80 0 0',
 '0 -9 18 18 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 2',
 '26 85 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1272 0 60 1 1 1 1',
 '-9 4 100 0 248 -9 -9 -9',
 '0 -9 -9 0 11 2 84 0',
 '0 1 1 0 125 13 12 7',
 '125 73 176 80 100 74 0 0',
 '1 2 13 13 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 11',
 '11 84 1 -9 -9 -9 -9 2',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1273 0 36 1 1 0 0',
 '-9 2 120 0 267 -9 -9 -9',
 '0 -9 -9 0 9 9 84 0',
 '0 0 0 0 100 12 10 6',
 '160 82 170 82 120 80 0 0',
 '3 2 13 9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 9',
 '16 84 1 -9 2 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1274 0 43 0 0 0 0',
 '-9 1 100 0 223 -9 -9 -9',
 '0 -9 -9 0 11 1 84 0',
 '0 0 0 0 100 10 -9 7',
 '142 82 145 80 100 60 0 0',
 '0 -9 10 10 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 11',
 '10 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 2 -9. -9. name',
 '1275 0 44 1 1 0 0',
 '-9 2 120 1 184 -9 -9 -9',
 '0 -9 -9 0 10 22 84 0',
 '0 0 0 0 75 9 8 5',
 '142 92 150 100 120 70 0 0',
 '1 2 19 19 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 10',
 '26 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1276 0 49 0 1 0 0',
 '-9 2 124 0 201 -9 -9 -9',
 '0 -9 -9 0 10 21 86 0',
 '0 0 0 0 100 12 -9 6',
 '164 85 170 80 124 80 0 0',
 '0 -9 11 9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 10',
 '26 86 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1277 0 44 1 1 0 0',
 '-9 2 150 0 288 -9 -9 -9',
 '0 -9 -9 0 3 2 84 0',
 '0 0 0 0 75 6.5 5.5 5',
 '150 64 170 95 150 100 1 0',
 '3 2 27 25 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 3',
 '15 84 3 -9 2 -9 -9 -9',
 '2 2 2 2 -9 1 1 1',
 '1 1 67. -9. name',
 '1278 0 40 1 1 0 1',
 '-9 3 130 1 215 -9 -9 -9',
 '0 -9 -9 0 1 13 84 0',
 '0 0 0 0 175 19 -9 10',
 '138 73 210 96 130 74 0 0',
 '0 -9 25 20 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 1',
 '15 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1279 0 36 1 1 0 1',
 '-9 3 130 0 209 -9 -9 -9',
 '0 -9 -9 0 1 2 84 0',
 '0 0 0 0 200 21 -9 11',
 '178 74 200 90 130 80 0 0',
 '0 -9 23 20 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 1',
 '6 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1280 0 53 1 1 1 1',
 '-9 4 124 0 260 -9 -9 -9',
 '0 -9 -9 1 5 16 84 0',
 '0 0 0 0 75 9 7.5 6',
 '112 84 150 80 124 80 1 0',
 '3 2 7 7 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '20 84 0 -9 1 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1281 0 52 1 1 0 0',
 '-9 2 120 0 284 0 -9 -9',
 '0 -9 -9 0 5 7 86 0',
 '0 0 0 0 100 10 -9 5',
 '118 68 160 90 120 80 0 0',
 '0 -9 11 12 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '15 86 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1282 0 53 0 1 0 0',
 '-9 2 113 0 468 -9 -9 -9',
 '-9 -9 -9 0 6 2 87 0',
 '0 0 0 0 50 6 -9 4',
 '127 85 170 100 113 80 0 0',
 '0 -9 9 10 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 6',
 '1 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 59. -9. name',
 '1283 0 51 1 1 0 0',
 '-9 2 125 0 188 -9 -9 -9',
 '0 -9 -9 0 5 25 87 0',
 '0 0 0 0 125 13 -9 6',
 '145 74 180 94 125 80 0 0',
 '0 -9 19 20 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '30 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1284 0 53 1 1 1 0',
 '-9 3 145 1 518 -9 -9 -9',
 '0 -9 -9 0 6 2 87 0',
 '-9 1 1 0 125 15 -9 7',
 '130 64 230 115 145 90 0 0',
 '0 -9 15 12 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '30 87 3 -9 2 -9 -9 2',
 '-9 2 -9 2 -9 1 1 1',
 '1 1 -9. -9. name',
 '1285 0 56 1 1 0 1',
 '-9 3 130 0 -9 -9 -9 -9',
 '0 -9 -9 0 5 22 87 0',
 '0 0 0 0 75 7 -9 4',
 '114 98 150 80 130 80 0 0',
 '0 -9 8 8 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '28 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1286 0 54 1 1 1 1',
 '-9 4 125 0 224 -9 -9 -9',
 '0 -9 -9 0 5 6 87 0',
 '0 0 0 0 50 6 4.5 3',
 '122 71 150 100 125 80 0 0',
 '2 2 12 15 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '16 87 1 -9 2 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1287 0 41 1 1 1 1',
 '-9 4 130 1 172 -9 -9 -9',
 '0 -9 -9 1 4 14 87 0',
 '0 1 1 0 100 10 9 5',
 '130 87 160 100 130 90 0 0',
 '2 2 11 11 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '10 87 3 -9 -9 2 -9 2',
 '-9 2 2 2 -9 1 1 1',
 '1 4 18. -9. name',
 '1288 0 43 0 1 0 0',
 '-9 2 150 0 186 -9 -9 -9',
 '0 -9 -9 0 4 30 87 0',
 '0 0 0 0 75 8 -9 6',
 '154 75 182 90 150 90 0 0',
 '0 -9 9 12 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '2 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1289 0 32 1 1 0 0',
 '-9 2 125 0 254 -9 -9 -9',
 '0 -9 -9 0 5 8 87 0',
 '0 0 0 0 150 16.5 -9 9',
 '155 75 230 90 125 80 0 0',
 '0 -9 15 15 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '10 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1290 0 65 1 1 1 1',
 '-9 4 140 1 306 -9 -9 -9',
 '1 1 -9 0 4 29 87 0',
 '1 1 1 0 25 3 1.5 2',
 '87 68 160 98 140 80 1 0',
 '1.5 2 11 14 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '26 87 1 -9 1 -9 -9 -9',
 '-9 -9 -9 -9 2 1 1 1',
 '1 1 -9. -9. name',
 '1291 0 41 0 1 0 0',
 '-9 2 110 0 250 -9 -9 -9',
 '0 -9 -9 1 5 13 87 0',
 '0 1 1 0 100 12 -9 6',
 '142 83 145 85 110 70 0 0',
 '0 -9 5 5 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '20 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1292 0 48 0 1 0 0',
 '-9 2 120 0 -9 -9 -9 -9',
 '1 1 -9 1 5 11 87 0',
 '0 0 0 0 100 10 -9 7',
 '148 79 160 95 120 75 0 0',
 '0 -9 7 7 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '20 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1293 0 48 0 1 1 1',
 '-9 4 150 0 227 -9 -9 -9',
 '0 -9 -9 0 5 5 87 0',
 '0 0 0 0 75 8 7 6',
 '130 73 200 110 150 80 1 0',
 '1 2 10 10 9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '10 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1294 0 54 0 1 0 0',
 '-9 2 150 1 230 -9 -9 -9',
 '0 -9 -9 0 5 4 87 -9',
 '-9 -9 -9 -9 75 -9 -9 5',
 '130 83 180 100 150 100 0 0',
 '0 -9 7 7 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '10 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1295 0 54 0 1 0 1',
 '-9 3 130 1 294 -9 -9 -9',
 '0 -9 -9 1 5 11 87 0',
 '1 1 1 0 25 2 1 3',
 '100 65 160 110 130 90 1 0',
 '0 2 18 18 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '20 87 4 2 -9 -9 -9 2',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1296 0 35 1 1 0 0',
 '-9 2 150 0 264 -9 -9 -9',
 '0 -9 -9 0 3 2 87 0',
 '0 0 0 0 125 14 -9 7',
 '168 85 230 120 150 80 0 0',
 '0 -9 18 15 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 3',
 '5 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1297 0 52 1 1 0 1',
 '-9 3 140 0 259 -9 -9 -9',
 '0 -9 -9 1 3 18 85 0',
 '0 0 0 0 75 9 -9 5',
 '170 78 190 105 140 100 0 0',
 '0 -9 24 16 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 3',
 '19 85 0 -9 -9 1 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1298 0 43 1 1 1 1',
 '-9 4 120 0 175 -9 -9 -9',
 '0 -9 -9 0 9 16 86 0',
 '0 1 1 0 100 10 8.5 6',
 '120 70 170 80 120 80 1 0',
 '1 2 11 11 -9 -9 -9 -9',
 '-9 -9 -9 7 2 1 -9 9',
 '25 86 3 -9 -9 2 -9 2',
 '-9 -9 -9 2 -9 1 1 1',
 '1 1 -9. -9. name',
 '1299 0 59 1 1 0 1',
 '-9 3 130 0 318 -9 -9 -9',
 '0 -9 -9 0 5 22 85 0',
 '0 0 0 0 75 7 6 5',
 '120 50 160 100 130 80 1 0',
 '1 2 13 12 -9 -9 -9 -9',
 '-9 -9 -9 3 0 0 -9 5',
 '20 85 0 -9 -9 1 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1300 0 37 1 1 1 1',
 '-9 4 120 0 223 -9 -9 -9',
 '0 -9 -9 0 1 19 84 0',
 '0 0 0 0 125 15 -9 7',
 '168 67 180 90 120 80 0 0',
 '0 -9 18 10 -9 -9 -9 -9',
 '-9 -9 -9 3 0 0 -9 1',
 '20 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1301 0 50 1 1 0 0',
 '-9 2 140 0 216 -9 -9 -9',
 '0 -9 -9 0 11 28 83 0',
 '0 0 0 0 175 20 -9 6',
 '170 78 210 110 140 90 0 0',
 '0 -9 18 15 -9 -9 -9 -9',
 '-9 -9 -9 3 0 1 -9 11',
 '29 83 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1302 0 36 1 1 0 0',
 '-9 3 112 0 340 -9 -9 -9',
 '0 -9 -9 0 10 5 84 0',
 '0 0 0 0 75 7 6.5 4',
 '184 134 150 82 112 70 0 0',
 '1 2 24 28 -9 -9 -9 -9',
 '-9 -9 -9 3 0 0 -9 10',
 '10 84 0 -9 -9 -9 -9 1',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1303 0 41 1 1 1 1',
 '-9 4 110 0 289 -9 -9 -9',
 '0 -9 -9 0 9 27 84 0',
 '0 1 0 0 150 16 -9 8',
 '170 92 200 70 110 70 0 0',
 '0 -9 11 13 -9 -9 -9 -9',
 '-9 -9 -9 6 2 1 -9 9',
 '27 84 1 -9 2 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1304 0 50 1 1 1 1',
 '-9 4 130 0 233 -9 -9 -9',
 '0 -9 -9 0 6 21 83 0',
 '0 0 0 0 50 6 5.5 5',
 '121 98 170 100 130 90 1 0',
 '2 2 31 26 -9 -9 -9 -9',
 '-9 -9 -9 7 2 1 -9 6',
 '22 83 2 -9 2 2 2 -9',
 '-9 -9 -9 2 -9 1 1 1',
 '8 2 -9. -9. name',
 '1305 0 47 0 1 1 1',
 '-9 4 120 0 205 -9 -9 -9',
 '0 -9 -9 0 6 24 83 0',
 '0 0 0 0 25 1.5 1 3',
 '98 74 140 90 120 80 1 0',
 '2 2 18 18 -9 -9 -9 -9',
 '-9 -9 -9 6 3 1 -9 6',
 '30 83 4 2 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1306 0 45 1 1 0 0',
 '-9 2 140 1 224 -9 -9 -9',
 '1 1 -9 0 4 6 87 0',
 '0 0 0 0 100 10 -9 5',
 '122 90 170 105 140 95 0 0',
 '0 -9 12 13 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 4',
 '7 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1307 0 41 0 1 0 0',
 '-9 2 130 0 245 0 -9 -9',
 '0 -9 -9 0 3 9 87 0',
 '0 0 0 0 100 12 -9 6',
 '150 77 170 95 130 90 0 0',
 '0 -9 13 11 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 3',
 '10 87 0 -9 -9 1 1 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1308 0 52 0 1 1 1',
 '-9 4 130 0 180 -9 -9 -9',
 '0 -9 -9 0 3 11 87 0',
 '1 1 1 0 75 7 6 5',
 '140 85 170 100 130 90 1 0',
 '1.5 2 11 11 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 3',
 '12 87 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1309 0 51 0 1 0 0',
 '-9 2 160 1 194 -9 -9 -9',
 '0 -9 -9 0 2 21 85 0',
 '0 0 0 0 75 8 -9 3',
 '170 65 200 100 160 80 0 0',
 '0 -9 9 9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 2',
 '22 85 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1310 0 31 1 1 1 1',
 '-9 4 120 0 270 -9 -9 -9',
 '0 -9 -9 0 3 8 85 0',
 '0 0 0 0 125 14 13 6',
 '153 84 170 90 120 90 1 0',
 '1.5 2 20 15 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 3',
 '9 85 1 -9 2 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '5 1 -9. -9. name',
 '1183 0 58 1 1 0 0',
 '-9 3 130 0 213 -9 -9 -9',
 '0 -9 -9 1 1 10 84 0',
 '0 0 0 0 100 10 -9 5',
 '140 64 200 100 130 80 0 0',
 '0 -9 13 10 -9 -9 -9 -9',
 '-9 -9 -9 6 2 1 -9 1',
 '17 84 1 -9 -9 2 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 2 -9. -9. name',
 '1184 0 54 1 1 1 1',
 '-9 4 150 0 365 -9 -9 -9',
 '0 -9 -9 1 5 2 84 0',
 '0 0 0 0 150 20 19 7',
 '134 78 170 96 150 100 0 0',
 '1 1 17 16 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 5',
 '4 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1185 0 52 1 1 1 1',
 '-9 4 112 0 342 -9 -9 -9',
 '0 -9 -9 1 2 16 84 0',
 '0 0 0 0 75 8 6.5 5',
 '96 68 158 82 112 80 1 0',
 '1 2 9 9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 3',
 '20 84 3 -9 2 -9 -9 2',
 '-9 2 -9 2 -9 1 1 5',
 '7 2 -9. -9. name',
 '1186 0 49 1 1 0 0',
 '-9 2 100 0 253 -9 -9 -9',
 '0 -9 -9 0 8 14 84 0',
 '0 0 0 0 -9 11 -9 6',
 '174 116 160 80 100 70 0 0',
 '0 -9 4 4 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 8',
 '14 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1187 0 43 0 1 0 0',
 '-9 3 150 1 -9 -9 -9 -9',
 '0 -9 -9 0 7 3 86 0',
 '0 0 0 0 75 7 -9 5',
 '175 105 240 110 150 90 0 0',
 '0 -9 21 20 -9 -9 -9 -9',
 '-9 -9 -9 3 -9 -9 -9 7',
 '6 86 0 -9 1 1 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1188 0 45 1 1 1 1',
 '-9 4 140 0 224 -9 -9 -9',
 '0 -9 -9 0 12 13 83 0',
 '0 0 0 0 100 11 -9 6',
 '144 78 180 100 140 90 0 0',
 '0 -9 25 22 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 12',
 '15 83 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1189 0 46 1 1 1 1',
 '-9 4 120 1 277 1 -9 -9',
 '0 -9 -9 0 4 23 86 0',
 '0 0 0 0 150 16 15 9',
 '125 73 180 95 120 80 1 0',
 '1 2 22 20 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 4',
 '25 86 1 -9 -9 -9 -9 -9',
 '-9 -9 -9 1 2 1 1 1',
 '1 1 -9. -9. name',
 '1190 0 50 0 1 0 0',
 '-9 2 110 0 202 -9 -9 -9',
 '0 -9 -9 0 7 12 85 0',
 '0 0 0 0 100 11 -9 7',
 '145 60 170 90 110 70 0 0',
 '0 -9 4 3 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 7',
 '16 85 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1191 0 37 0 1 0 0',
 '-9 2 120 1 260 0 -9 -9',
 '0 -9 -9 0 9 9 85 0',
 '0 0 0 0 75 7 -9 6',
 '130 82 160 100 120 90 0 0',
 '0 -9 8 8 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 9',
 '9 85 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1192 0 45 0 1 1 1',
 '-9 4 132 1 297 -9 -9 -9',
 '0 -9 -9 0 3 20 85 0',
 '0 0 0 0 75 8 -9 5',
 '144 102 180 104 132 94 0 0',
 '0 -9 8 8 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 3',
 '14 85 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1193 0 32 1 1 0 0',
 '-9 2 110 0 225 -9 -9 -9',
 '0 -9 -9 0 12 10 84 0',
 '0 0 0 0 100 12 -9 5',
 '184 120 170 84 110 70 0 0',
 '0 -9 19 17 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 12',
 '14 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1194 0 52 1 1 1 1',
 '-9 4 160 1 246 -9 -9 -9',
 '0 -9 -9 1 3 30 84 0',
 '0 0 0 0 25 2 1 2',
 '82 60 160 80 160 80 1 0',
 '4 2 10 10 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 10',
 '2 84 3 -9 2 -9 -9 2',
 '-9 2 -9 2 2 1 1 1',
 '3 1 -9. -9. name',
 '1195 0 44 1 1 1 1',
 '-9 4 150 1 412 -9 -9 -9',
 '0 -9 -9 0 3 25 85 0',
 '0 0 0 0 50 6 -9 4',
 '170 90 230 110 150 100 0 0',
 '0 -9 5 5 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 3',
 '28 85 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1196 0 57 1 1 0 0',
 '-9 2 140 0 265 -9 -9 -9',
 '0 -9 -9 1 7 24 86 0',
 '0 0 0 0 50 6 5 3',
 '145 88 220 130 140 90 1 0',
 '1 2 7 8 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 7',
 '30 86 1 -9 -9 -9 -9 2',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1197 0 44 1 1 0 0',
 '-9 2 130 1 215 -9 -9 -9',
 '0 -9 -9 0 11 20 86 0',
 '0 0 0 0 50 5 -9 3',
 '135 82 180 115 130 100 0 0',
 '0 -9 15 15 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 11',
 '26 86 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1198 0 52 1 1 1 1',
 '-9 4 120 0 182 -9 -9 -9',
 '0 -9 -9 0 10 2 85 0',
 '0 0 0 0 125 14 -9 6',
 '150 75 180 80 120 80 0 0',
 '0 -9 18 20 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 10',
 '5 85 2 -9 -9 -9 -9 -9',
 '-9 2 -9 -9 2 1 1 1',
 '1 1 -9. -9. name',
 '1199 0 44 0 1 1 1',
 '-9 4 120 0 218 -9 -9 -9',
 '0 -9 -9 1 8 15 85 0',
 '0 0 0 0 100 10 -9 6',
 '115 76 150 80 120 80 0 0',
 '0 -9 7 6 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 8',
 '20 85 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1200 0 55 1 1 1 1',
 '-9 4 140 0 268 -9 -9 -9',
 '0 -9 -9 0 9 25 86 0',
 '0 0 0 0 100 11 10 5',
 '128 90 200 110 140 90 1 0',
 '1.5 2 13 13 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 9',
 '30 86 2 -9 -9 2 -9 -9',
 '-9 -9 -9 2 -9 1 1 1',
 '1 1 -9. -9. name',
 '1201 0 46 1 1 0 1',
 '-9 3 150 1 163 -9 -9 -9',
 '-9 -9 -9 0 1 25 84 0',
 '0 0 0 0 25 2 -9 2',
 '116 92 170 130 150 100 0 0',
 '0 -9 21 25 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 1',
 '30 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1202 0 32 1 1 1 1',
 '-9 4 118 0 529 -9 -9 -9',
 '0 -9 -9 0 6 12 86 0',
 '0 0 0 0 125 18 -9 7',
 '130 74 180 70 118 70 0 0',
 '0 -9 28 28 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 6',
 '15 86 2 -9 -9 2 -9 -9',
 '-9 -9 -9 2 -9 1 1 1',
 '6 2 -9. -9. name',
 '1203 0 35 0 1 1 1',
 '-9 4 140 0 167 -9 -9 -9',
 '0 -9 -9 0 11 22 85 0',
 '0 0 0 0 100 12 -9 6',
 '150 77 180 80 140 80 0 0',
 '0 -9 14 14 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 11',
 '23 85 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1204 0 52 1 1 0 0',
 '-9 2 140 0 100 -9 -9 -9',
 '0 -9 -9 0 8 8 86 0',
 '0 0 0 0 75 7.5 -9 6',
 '138 100 180 100 140 98 1 0',
 '0 -9 23 23 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 8',
 '10 86 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1205 0 49 1 1 1 1',
 '-9 4 130 1 206 -9 -9 -9',
 '0 -9 -9 0 7 16 86 0',
 '0 0 0 0 150 17 -9 9',

Dataset yang diambil dari hungarian.data ternyata susunannya tidak tertata untuk setiap

In [ ]:
lines[0:10]

['1254 0 40 1 1 0 0',
 '-9 2 140 0 289 -9 -9 -9',
 '0 -9 -9 0 12 16 84 0',
 '0 0 0 0 150 18 -9 7',
 '172 86 200 110 140 86 0 0',
 '0 -9 26 20 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 12',
 '20 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name']

In [ ]:
data = itertools.takewhile(
    lambda x: len(x)==76,
    (' '.join(lines[i:(i+10)]).split() for i in range (0, len(lines), 10))
)

In [ ]:
df = pd.DataFrame.from_records(data)

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
0,1254,0,40,1,1,0,0,-9,2,140,...,-9,-9,1,1,1,1,1,-9.,-9.,name
1,1255,0,49,0,1,0,0,-9,3,160,...,-9,-9,1,1,1,1,1,-9.,-9.,name
2,1256,0,37,1,1,0,0,-9,2,130,...,-9,-9,1,1,1,1,1,-9.,-9.,name
3,1257,0,48,0,1,1,1,-9,4,138,...,2,-9,1,1,1,1,1,-9.,-9.,name
4,1258,0,54,1,1,0,1,-9,3,150,...,1,-9,1,1,1,1,1,-9.,-9.,name
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,1053,0,48,0,0,0,0,-9,2,-9,...,-9,-9,1,1,1,1,1,-9.,-9.,name
290,1054,0,36,1,1,0,0,-9,2,120,...,-9,-9,1,1,1,1,1,-9.,-9.,name
291,5001,0,48,1,0,0,0,-9,3,110,...,-9,-9,1,1,1,1,1,-9.,-9.,name
292,5000,0,47,0,0,0,0,-9,2,140,...,-9,-9,1,1,1,1,1,-9.,-9.,name
293,5002,0,53,1,1,1,1,-9,4,130,...,1,1,1,1,1,1,1,-9.,-9.,name

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 76 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       294 non-null    object
 1   1       294 non-null    object
 2   2       294 non-null    object
 3   3       294 non-null    object
 4   4       294 non-null    object
 5   5       294 non-null    object
 6   6       294 non-null    object
 7   7       294 non-null    object
 8   8       294 non-null    object
 9   9       294 non-null    object
 10  10      294 non-null    object
 11  11      294 non-null    object
 12  12      294 non-null    object
 13  13      294 non-null    object
 14  14      294 non-null    object
 15  15      294 non-null    object
 16  16      294 non-null    object
 17  17      294 non-null    object
 18  18      294 non-null    object
 19  19      294 non-null    object
 20  20      294 non-null    object
 21  21      294 non-null    object
 22  22      294 non-null    object
 23  23      294 non-null    object
 24  24      294 non-null    object
 25  25      294 non-null    object
 26  26      294 non-null    object
 27  27      294 non-null    object
 28  28      294 non-null    object
 29  29      294 non-null    object
 30  30      294 non-null    object
 31  31      294 non-null    object
 32  32      294 non-null    object
 33  33      294 non-null    object
 34  34      294 non-null    object
 35  35      294 non-null    object
 36  36      294 non-null    object
 37  37      294 non-null    object
 38  38      294 non-null    object
 39  39      294 non-null    object
 40  40      294 non-null    object
 41  41      294 non-null    object
 42  42      294 non-null    object
 43  43      294 non-null    object
 44  44      294 non-null    object
 45  45      294 non-null    object
 46  46      294 non-null    object
 47  47      294 non-null    object
 48  48      294 non-null    object
 49  49      294 non-null    object
 50  50      294 non-null    object
 51  51      294 non-null    object
 52  52      294 non-null    object
 53  53      294 non-null    object
 54  54      294 non-null    object
 55  55      294 non-null    object
 56  56      294 non-null    object
 57  57      294 non-null    object
 58  58      294 non-null    object
 59  59      294 non-null    object
 60  60      294 non-null    object
 61  61      294 non-null    object
 62  62      294 non-null    object
 63  63      294 non-null    object
 64  64      294 non-null    object
 65  65      294 non-null    object
 66  66      294 non-null    object
 67  67      294 non-null    object
 68  68      294 non-null    object
 69  69      294 non-null    object
 70  70      294 non-null    object
 71  71      294 non-null    object
 72  72      294 non-null    object
 73  73      294 non-null    object
 74  74      294 non-null    object
 75  75      294 non-null    object
dtypes: object(76)
memory usage: 174.7+ KB

Terdapat nilai missing value pada data tersebut dengan nilai -9.

In [ ]:
df = df.iloc[:,:-1]

In [ ]:
df = df.astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 75 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       294 non-null    float64
 1   1       294 non-null    float64
 2   2       294 non-null    float64
 3   3       294 non-null    float64
 4   4       294 non-null    float64
 5   5       294 non-null    float64
 6   6       294 non-null    float64
 7   7       294 non-null    float64
 8   8       294 non-null    float64
 9   9       294 non-null    float64
 10  10      294 non-null    float64
 11  11      294 non-null    float64
 12  12      294 non-null    float64
 13  13      294 non-null    float64
 14  14      294 non-null    float64
 15  15      294 non-null    float64
 16  16      294 non-null    float64
 17  17      294 non-null    float64
 18  18      294 non-null    float64
 19  19      294 non-null    float64
 20  20      294 non-null    float64
 21  21      294 non-null    float64
 22  22      294 non-null    float64
 23  23      294 non-null    float64
 24  24      294 non-null    float64
 25  25      294 non-null    float64
 26  26      294 non-null    float64
 27  27      294 non-null    float64
 28  28      294 non-null    float64
 29  29      294 non-null    float64
 30  30      294 non-null    float64
 31  31      294 non-null    float64
 32  32      294 non-null    float64
 33  33      294 non-null    float64
 34  34      294 non-null    float64
 35  35      294 non-null    float64
 36  36      294 non-null    float64
 37  37      294 non-null    float64
 38  38      294 non-null    float64
 39  39      294 non-null    float64
 40  40      294 non-null    float64
 41  41      294 non-null    float64
 42  42      294 non-null    float64
 43  43      294 non-null    float64
 44  44      294 non-null    float64
 45  45      294 non-null    float64
 46  46      294 non-null    float64
 47  47      294 non-null    float64
 48  48      294 non-null    float64
 49  49      294 non-null    float64
 50  50      294 non-null    float64
 51  51      294 non-null    float64
 52  52      294 non-null    float64
 53  53      294 non-null    float64
 54  54      294 non-null    float64
 55  55      294 non-null    float64
 56  56      294 non-null    float64
 57  57      294 non-null    float64
 58  58      294 non-null    float64
 59  59      294 non-null    float64
 60  60      294 non-null    float64
 61  61      294 non-null    float64
 62  62      294 non-null    float64
 63  63      294 non-null    float64
 64  64      294 non-null    float64
 65  65      294 non-null    float64
 66  66      294 non-null    float64
 67  67      294 non-null    float64
 68  68      294 non-null    float64
 69  69      294 non-null    float64
 70  70      294 non-null    float64
 71  71      294 non-null    float64
 72  72      294 non-null    float64
 73  73      294 non-null    float64
 74  74      294 non-null    float64
dtypes: float64(75)
memory usage: 172.4 KB

# 3. Memvalidasi Data

mengubah nilai -9.0 menjadi null atau np.nan

In [ ]:
df.replace (-9.0, np.nan, inplace = True)

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,1254.0,0.0,40.0,1.0,1.0,0.0,0.0,NaN,2.0,140.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN
1,1255.0,0.0,49.0,0.0,1.0,0.0,0.0,NaN,3.0,160.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN
2,1256.0,0.0,37.0,1.0,1.0,0.0,0.0,NaN,2.0,130.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN
3,1257.0,0.0,48.0,0.0,1.0,1.0,1.0,NaN,4.0,138.0,...,NaN,2.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN
4,1258.0,0.0,54.0,1.0,1.0,0.0,1.0,NaN,3.0,150.0,...,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,1053.0,0.0,48.0,0.0,0.0,0.0,0.0,NaN,2.0,NaN,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN
290,1054.0,0.0,36.0,1.0,1.0,0.0,0.0,NaN,2.0,120.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN
291,5001.0,0.0,48.0,1.0,0.0,0.0,0.0,NaN,3.0,110.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN
292,5000.0,0.0,47.0,0.0,0.0,0.0,0.0,NaN,2.0,140.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN
293,5002.0,0.0,53.0,1.0,1.0,1.0,1.0,NaN,4.0,130.0,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 75 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       294 non-null    float64
 1   1       294 non-null    float64
 2   2       294 non-null    float64
 3   3       294 non-null    float64
 4   4       294 non-null    float64
 5   5       294 non-null    float64
 6   6       294 non-null    float64
 7   7       0 non-null      float64
 8   8       294 non-null    float64
 9   9       293 non-null    float64
 10  10      293 non-null    float64
 11  11      271 non-null    float64
 12  12      12 non-null     float64
 13  13      1 non-null      float64
 14  14      0 non-null      float64
 15  15      286 non-null    float64
 16  16      21 non-null     float64
 17  17      1 non-null      float64
 18  18      293 non-null    float64
 19  19      294 non-null    float64
 20  20      294 non-null    float64
 21  21      294 non-null    float64
 22  22      293 non-null    float64
 23  23      292 non-null    float64
 24  24      293 non-null    float64
 25  25      293 non-null    float64
 26  26      293 non-null    float64
 27  27      285 non-null    float64
 28  28      292 non-null    float64
 29  29      104 non-null    float64
 30  30      292 non-null    float64
 31  31      293 non-null    float64
 32  32      293 non-null    float64
 33  33      293 non-null    float64
 34  34      293 non-null    float64
 35  35      293 non-null    float64
 36  36      293 non-null    float64
 37  37      293 non-null    float64
 38  38      292 non-null    float64
 39  39      294 non-null    float64
 40  40      104 non-null    float64
 41  41      293 non-null    float64
 42  42      294 non-null    float64
 43  43      4 non-null      float64
 44  44      0 non-null      float64
 45  45      0 non-null      float64
 46  46      0 non-null      float64
 47  47      3 non-null      float64
 48  48      0 non-null      float64
 49  49      2 non-null      float64
 50  50      28 non-null     float64
 51  51      27 non-null     float64
 52  52      17 non-null     float64
 53  53      0 non-null      float64
 54  54      294 non-null    float64
 55  55      294 non-null    float64
 56  56      294 non-null    float64
 57  57      294 non-null    float64
 58  58      19 non-null     float64
 59  59      58 non-null     float64
 60  60      48 non-null     float64
 61  61      18 non-null     float64
 62  62      59 non-null     float64
 63  63      9 non-null      float64
 64  64      23 non-null     float64
 65  65      5 non-null      float64
 66  66      50 non-null     float64
 67  67      25 non-null     float64
 68  68      294 non-null    float64
 69  69      294 non-null    float64
 70  70      294 non-null    float64
 71  71      294 non-null    float64
 72  72      294 non-null    float64
 73  73      28 non-null     float64
 74  74      0 non-null      float64
dtypes: float64(75)
memory usage: 172.4 KB

# 4. Menentukan Objek Data

In [ ]:
selected = [2,3,8,9,11,15,18,31,37,39,40,43,50,57]

In [ ]:
df_selected = df[selected]

In [ ]:
df_selected

,2,3,8,9,11,15,18,31,37,39,40,43,50,57
0,40.0,1.0,2.0,140.0,289.0,0.0,0.0,172.0,0.0,0.0,NaN,NaN,NaN,0.0
1,49.0,0.0,3.0,160.0,180.0,0.0,0.0,156.0,0.0,1.0,2.0,NaN,NaN,1.0
2,37.0,1.0,2.0,130.0,283.0,0.0,1.0,98.0,0.0,0.0,NaN,NaN,NaN,0.0
3,48.0,0.0,4.0,138.0,214.0,0.0,0.0,108.0,1.0,1.5,2.0,NaN,NaN,3.0
4,54.0,1.0,3.0,150.0,NaN,0.0,0.0,122.0,0.0,0.0,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,48.0,0.0,2.0,NaN,308.0,0.0,1.0,NaN,NaN,2.0,1.0,NaN,NaN,0.0
290,36.0,1.0,2.0,120.0,166.0,0.0,0.0,180.0,0.0,0.0,NaN,NaN,NaN,0.0
291,48.0,1.0,3.0,110.0,211.0,0.0,0.0,138.0,0.0,0.0,NaN,NaN,6.0,0.0
292,47.0,0.0,2.0,140.0,257.0,0.0,0.0,135.0,0.0,1.0,1.0,NaN,NaN,0.0
293,53.0,1.0,4.0,130.0,182.0,0.0,0.0,148.0,0.0,0.0,NaN,NaN,NaN,0.0

In [ ]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2       294 non-null    float64
 1   3       294 non-null    float64
 2   8       294 non-null    float64
 3   9       293 non-null    float64
 4   11      271 non-null    float64
 5   15      286 non-null    float64
 6   18      293 non-null    float64
 7   31      293 non-null    float64
 8   37      293 non-null    float64
 9   39      294 non-null    float64
 10  40      104 non-null    float64
 11  43      4 non-null      float64
 12  50      28 non-null     float64
 13  57      294 non-null    float64
dtypes: float64(14)
memory usage: 32.3 KB

Merubah nama fitur sesuai namanya
pada dokumentasi index dimulai dari 1 sedangkan pada dataset dimulai dari 0 sehingga index column dikurangi 1

      -- 1. #3  (age)       
      -- 2. #4  (sex)       
      -- 3. #9  (cp)        
      -- 4. #10 (trestbps)  
      -- 5. #12 (chol)      
      -- 6. #16 (fbs)       
      -- 7. #19 (restecg)   
      -- 8. #32 (thalach)   
      -- 9. #38 (exang)     
      -- 10. #40 (oldpeak)   
      -- 11. #41 (slope)     
      -- 12. #44 (ca)        
      -- 13. #51 (thal)      
      -- 14. #58 (num)

In [ ]:
features_name = {
    2  : 'age',
    3  : 'sex',
    8  : 'cp',
    9 : 'trestbps',
    11 : 'chol',
    15 : 'fbs',
    18 : 'restecg',
    31 : 'thalach',
    37 : 'exang',
    39 : 'oldpeak',
    40 : 'slope',
    43 : 'ca',
    50 : 'thal',
    57 : 'num'
}

In [ ]:
df_selected.rename(columns=features_name, inplace=True)

<ipython-input-22-9c195e71bf85>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected.rename(columns=features_name, inplace=True)

In [ ]:
df_selected

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,40.0,1.0,2.0,140.0,289.0,0.0,0.0,172.0,0.0,0.0,NaN,NaN,NaN,0.0
1,49.0,0.0,3.0,160.0,180.0,0.0,0.0,156.0,0.0,1.0,2.0,NaN,NaN,1.0
2,37.0,1.0,2.0,130.0,283.0,0.0,1.0,98.0,0.0,0.0,NaN,NaN,NaN,0.0
3,48.0,0.0,4.0,138.0,214.0,0.0,0.0,108.0,1.0,1.5,2.0,NaN,NaN,3.0
4,54.0,1.0,3.0,150.0,NaN,0.0,0.0,122.0,0.0,0.0,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,48.0,0.0,2.0,NaN,308.0,0.0,1.0,NaN,NaN,2.0,1.0,NaN,NaN,0.0
290,36.0,1.0,2.0,120.0,166.0,0.0,0.0,180.0,0.0,0.0,NaN,NaN,NaN,0.0
291,48.0,1.0,3.0,110.0,211.0,0.0,0.0,138.0,0.0,0.0,NaN,NaN,6.0,0.0
292,47.0,0.0,2.0,140.0,257.0,0.0,0.0,135.0,0.0,1.0,1.0,NaN,NaN,0.0
293,53.0,1.0,4.0,130.0,182.0,0.0,0.0,148.0,0.0,0.0,NaN,NaN,NaN,0.0

# 5. Membersihkan Data

In [ ]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       294 non-null    float64
 1   sex       294 non-null    float64
 2   cp        294 non-null    float64
 3   trestbps  293 non-null    float64
 4   chol      271 non-null    float64
 5   fbs       286 non-null    float64
 6   restecg   293 non-null    float64
 7   thalach   293 non-null    float64
 8   exang     293 non-null    float64
 9   oldpeak   294 non-null    float64
 10  slope     104 non-null    float64
 11  ca        4 non-null      float64
 12  thal      28 non-null     float64
 13  num       294 non-null    float64
dtypes: float64(14)
memory usage: 32.3 KB

terlalu banyak data null atau missing value

In [ ]:
df_selected.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,294.000000,294.000000,294.000000,293.000000,271.000000,286.000000,293.000000,293.000000,293.000000,294.000000,104.000000,4.00,28.000000,294.000000
mean,47.826531,0.724490,2.982993,132.583618,250.848708,0.069930,0.218430,139.129693,0.303754,0.586054,1.894231,2.25,5.642857,0.792517
std,7.811812,0.447533,0.965117,17.626568,67.657711,0.255476,0.460868,23.589749,0.460665,0.908648,0.338995,4.50,1.615074,1.237006
min,28.000000,0.000000,1.000000,92.000000,85.000000,0.000000,0.000000,82.000000,0.000000,0.000000,1.000000,0.00,3.000000,0.000000
25%,42.000000,0.000000,2.000000,120.000000,209.000000,0.000000,0.000000,122.000000,0.000000,0.000000,2.000000,0.00,5.250000,0.000000
50%,49.000000,1.000000,3.000000,130.000000,243.000000,0.000000,0.000000,140.000000,0.000000,0.000000,2.000000,0.00,6.000000,0.000000
75%,54.000000,1.000000,4.000000,140.000000,282.500000,0.000000,0.000000,155.000000,1.000000,1.000000,2.000000,2.25,7.000000,1.000000
max,66.000000,1.000000,4.000000,200.000000,603.000000,1.000000,2.000000,190.000000,1.000000,5.000000,3.000000,9.00,7.000000,4.000000

In [ ]:
columns_to_drop = ['slop', 'ca', 'thal']

# Mengkontruksi Data

# Menentukan Label Data

# Membangun Model

# Mengevaluasi Model